@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Koulen&display=swap');

:root{
   --fonte-padrao: 'Baloo 2', cursive;
   --fonte-destaque: "Koulen", cursive;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #393cca;
   font-family: var(--fonte-padrao);
}

header{
   background-color: #2C2E9A;
   padding: 10px;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.386);
}

header img{
   display: block;
   margin: 0 auto;
   width: 100%;
   max-width: 300px;
}