@import url('./global.css');

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 10px;
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
}

#loading{
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

.pokemon{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pokemon a{
    position: relative;
    width: 60%;
    padding-top: 60%;
    border-radius: 50%;
}

.pokemon img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
}

.pokemon p{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.pokemon ul{
    display: flex;
    gap: 10px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Koulen', cursive;
    font-size: 1.4rem;
}
